h1 {
  text-align: center;
}
p {
  margin: 0.25in;
  border: 0.25in solid black;
  padding: 0.25in;
  background: URL(images/bond-paper.jpg);
}

body {
  background: URL(images/bricks.png);
}

.banner {
  background: url(images/boards.png) repeat-x;
  font-size: 50pt;
  font-family: Arial Rounded MT Bold;
}